@import url("https://fonts.googleapis.com/css2?family=Source+Sans+Pro:display=swap");

.alignCenter {
    text-align: center;
}

.subHeading {
    font-size: large;
    font-weight: 600;
}

#copy {
    font-weight: bolder;
}

header {
    text-align: center;
    width: 100%;
    display: inline-block;
}
footer {
    text-align: center;
    width: 100%;
    display: inline-block;
}

body,
html {
    margin-left: 1%;
    margin-right: 1%;
    margin-bottom: 1%;
    margin-top: 1%;
}

h1 {
    margin-top: 16px;
    margin-bottom: 16px;
    font-size: x-large;
    font-weight: 800;
}

h2 {
    margin-bottom: 12px;
}

p {
    font-weight: 200;
    margin-bottom: 16px;
}

img {
    max-width: 100%;
    height: auto;
    margin-bottom: 16px;
    padding-left: 24px;
    padding-right: 24px;
}
